body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

section {
  width: 100%;
  height: auto;
}


.homeBackground {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  width: 100vw;
  height: 1100px;
  background-image: url('../../src/assets/ffXiv.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}



.selected-minion-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}
